@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/*variaveis*/
:root {
  --main-color: #223555;
  --hover-main-color: #18263d;
  --second-color: #768dc2;
  --text-color: #1b1b1b;
  --bg-color: #ebeae8;
  --light-blue-color: #c4ddff;
  --img-color: #5da9e7;
  --input-color: #f4f7f7;
  --box-shadow: 2px 2px 10px 4px #0e373626;
}

.btn {
  padding: 5px 15px;
  display: inline;
  background-color: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.5s;
  position: fixed;
  right: 1rem;
  bottom: 10%;
  z-index: 1;
}

.btn-modal {
  color: #fff;
}

.btn:hover {
  background-color: var(--hover-main-color);
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000008c;
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal {
  width: 70%;
  max-width: 500px;
  min-height: 250px;
  background-color: #ffffff62;
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 10px;
}

.fechar {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 14pt;
  cursor: pointer;
}

.modal h1 {
  margin-bottom: 20px;
}

form .input-group label {
  color: var(--text-color);
  display: block;
  margin-bottom: 5px;
}



.form-group .input {
  padding: 0 20px 10px 0;
}

form .input-group input,
form .input-group select {
  width: 100%;
  height: 15px;
  border-radius: 10px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  transition: all 0.4s ease;
  font-weight: 400;
  margin-bottom: 20px;
}

#inputLoja {
  display: none;
}

.input-group textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  outline: none;
  border: 2px solid transparent;
  padding: 5px;
  font-size: 15px;
  transition: all 0.4s ease;
  font-weight: 400;
  resize: none;
}

@keyframes animate-modal {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.modal-container.mostrar {
  display: flex;
}

.mostrar .modal {
  animation: animate-modal 0.3s;
}

.avaliacao {
  display: flex;
  justify-content: center;
}

.star-icon {
  list-style-type: none;
  cursor: pointer;
  color: var(--main-color);
  font-size: 60px;
}

.star-icon::before {
  content: "\2605";
}

.star-icon.ativo~.star-icon::before {
  content: "\2606";
}

.avaliacao:hover .star-icon::before {
  content: "\2605";
}

.star-icon:hover~.star-icon::before {
  content: "\2606";
}

.input-group .btn-enviar {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 50px;
  padding: 5px 15px;
  background-color: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  box-shadow: var(--box-shadow);
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--main-color);
}

.text {
  padding: 0 5px;
  color: white;
}

.n-encontra {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

#produto,
#imagem,
#descricao_prod {
  display: none;
}