@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*variaveis*/
:root {
    --main-color: #223555;
    --hover-main-color: #18263d;
    --second-color: #768dc2;
    --text-color: #1b1b1b;
    --bg-color: #ebeae8;
    --light-blue-color: #c4ddff;
    --img-color: #5da9e7;
    --input-color: #f4f7f7;
    --box-shadow: 2px 2px 10px 4px #0e373626;
}

body {
    align-items: center;
    justify-content: center;
    background: #f8fbff;
}

.box {
    display: flex;
    width: 100%;
    height: 100vh;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: var(--img-color);
}

.img-box img {
    width: 80%;
}

.form-box {
    width: 50%;
    margin: auto;
    padding: 30px 80px;
}

.form-box h2 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.form-box p {
    font-weight: bold;
}

.form-box p a {
    text-decoration: none;
}

.form-box form {
    margin: 20px 0;
}

form .input-group {
    margin-bottom: 15px;
}

form .input-group label {
    color: var(--text-color);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form .input-group input {
    width: 100%;
    height: 47px;
    background-color: var(--input-color);
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    transition: all 0.4s ease;
    font-weight: 400;
}

.input-group .input-icon {
    position: relative;
}

#icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: url(../img/show.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#icon.hide {
    background: url(../img/hide.png);
    background-size: cover;
}

form .input-group button {
    width: 100%;
    height: 47px;
    background: var(--main-color);
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    box-shadow: var(--box-shadow);
    font-weight: 575;
}

form .input-group button:hover {
    background: #1d2d49;
}

.input-group p {
    color: var(--text-color);
    text-align: center;
}

.input-group p a {
    text-decoration: none;
    color: #4aa4ee;
}

.input-group p a:hover {
    color: #3286ca;
}

h3 {
    color: var(--text-color);
    text-decoration: none;
    margin: 40px 0 15px;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}

.ul {
    display: flex;
    justify-content: center;
}

.ul li {
    list-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    cursor: pointer;
    transition: .3s;
    font-size: 30px;
    border-radius: 50%;
}

.ul li:hover {
    background: #e4e4e4;
}

.ul li .bx {
    width: 50px;
}


.user-type-group {
    display: flex;
    margin-top: 0.62rem;
    margin-bottom: 0.62rem;
    padding: 0 .5rem;
    align-items: center;
    justify-content: center;
}

.user-type-group .input {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.user-type-group .input input[type="radio"] {
    margin-right: 0.5rem;
}

.user-type-group .input span {
    margin-left: 0.2rem;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .box {
        flex-direction: column;
    }

    .img-box {
        display: none;
    }

    .form-box {
        width: 100%;
    }

    .form-box {
        padding: 30px 80px;
    }

    .img-box img {
        height: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .box {
        flex-direction: row;
    }

    .img-box,
    .form-box {
        width: 50%;
    }

    .img-box img {
        width: 100%;
    }

    .form-box {
        padding: 30px 80px;
    }
}


@media screen and (min-width: 1025px) {

    .img-box,
    .form-box {
        width: 50%;
    }

    .img-box img {
        width: 80%;
    }

    .form-box {
        padding: 30px 80px;
    }
}